* {
  margin: 0px;
  padding: 0px;
}

.myDiv {
  padding: 50px;
  border: 5px solid black;
  margin: 100px;
  border-radius: 50px;
  font-size: 100px;
  padding-bottom: 15px;
  background-color: yellow;
  width: 370px;
}

#incrementText {
  margin-bottom: 50px;
  text-align: center;
}

.button {
  background-color: orange;
  width: 100px;
  height: 50px;
  text-align: center;
  font-weight: bolder;
  border: orangered solid 5px;
  border-radius: 10px;
}
